<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
<div class="jumbotron">
  <h1><%= @serie[:title] %></h1>
  <h2>Last episode watched: <%= @serie.last_episode_watched %></h2>
</div>
<div id="tabs">
  <ul>
  <% @serie[:number_of_seasons].times do |season| %>
    <li><%= link_to "Season #{season}", "#tabs-#{season}" %></li>
  <% end %>
  </ul>
  <% @serie[:number_of_seasons].times do |season| %>
    <div id=<%= "tabs-#{season}" %>>
      <ul class="list-group">
	<% @episodes["#{season + 1}"].each do |episode| %>
	  <li class="list-group-item">
	  <h6><%= link_to "Episode #{episode[:number]} - #{episode[:name]}" , last_series_episode_path(@serie.id, episode.id), method: :post %></h6>
	  </li>
	<% end %>
      </ul>
    </div>
  <% end %>
</div>
